/shelf/
/workspace.xml

db.sqlite3 
venv
.env

__pycache__/*
pod/__pycache__/*
eonpod/__pycache__/*
pod/classes/__pycache__/*
pod/migrations/__pycache__/*


# Ignore media files
media/processed_files/*
# Ignore specific model file
models/ggml-base.en.bin