/shelf/
/workspace.xml

db.sqlite3 
venv
.env

__pycache__/*
chat/__pycache__/*
chat_project/__pycache__/*
chat/migrations/__pycache__/*

# Ignore specific model file
chat_project/models/ggml-base.en.bin