body {
    background: rgb(60, 59, 59); /* Black background for container */
    margin: 0;
    gap: 0px;
}

.container {
    padding: 0;
}

.row {
    width: 100%;
}

/* Ensure the container is responsive */
.container .home-screen{
    background: #E7EBEF; /* Light gray background for home screen */
    min-height: 100vh; /* Use min-height instead of height */
    gap: 0px;
    border-radius: 60px; /* Simplified border-radius */
    opacity: 1; /* Fixed opacity value */
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Logo styles */
#logo img {
    width: auto;
    height: 60px; /* Adjust height as needed */
    margin-left: 20px;
}

#home-page-icon img {
    width: auto;
    height: 80px; /* Adjust height as needed */
    margin-right: 5px;
}


/* Media query for smaller screens */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    #logo {
        margin-left: 0;
        margin-bottom: 10px;
    }
    #home-page-icon {
        margin-right: 0;
        margin-top: 10px;
    }
}

.scrollable-card {
    background-color: #E7EBEF;
    border: none;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    border-radius: 50%;
}

.btn-custom img{
    width: 80px;
    height: auto;
    border:none;
}

.btn-custom:focus,
.btn-custom:active,
.btn-custom:hover {
    outline: none;
    border: none;
}

.img-text{
    font-size: 16px;
    color: #888888; 
}
