
.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Add vertical scrolling */
    max-height: 300vh; /* Set a maximum height to enable scrolling */
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Add gap between buttons */
    margin: 10px; /* Adjust margin */
}

/* Add custom styles */
.button-row {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 9999; /* Ensure buttons are on top of other content */
}

.button {
    display: inline-block;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 27px; /* Adjust font size */
}

/* Style for the logo */
.logo {
    width: 100%; /* Adjust logo width */
    max-width: 200px; /* Set max-width for logo */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin below logo */
}

/* Place logo at the top */
.logo-container {
    position:fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999; /* Ensure logo is on top of other content */
}

