{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chat Page</title>
    <!-- Include your CSS files here -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.css.map'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css.map'%}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/ai_chatpage.css'%}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="home-screen text-center p-3">
                    <!-- Header -->
                    <div class="header d-flex justify-content-between align-items-center mb-2">
                        <div class="logo" id="logo">
                            <img src="{% static 'images/Logo.png' %}" loading="lazy" alt="Logo" class="img-fluid">
                        </div>
                        <div class="home-page-icon" id="home-page-icon">
                            <a href="{% url 'eonpod' %}">
                                <img src="{% static 'images/Home Page Icon.png' %}" loading="lazy" alt="Gear Icon" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <!-- Card view AI Process -->
                    <div class="card-body" id="parent-card-body">
                        <div class="card scrollable-card mb-0" style="overflow-y: auto; max-height: 600px;">
                            <div class="ai-process-icon mt-2" id="ai-process-icon">
                                <img src="{% static 'images/AI Chatbot Logo.png' %}" width="70%" loading="lazy" alt="AI Process Icon" class="img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-4 d-flex justify-content-center" style="outline: none; border: none;">
                                        <div style="display: flex; flex-direction: column; align-items: center;">                                    
                                            <!-- Button for latest file Processing -->
                                            <button class="btn btn-sm" id="ai-process-latest-file" onclick="aiSpeechRecognitionPage()" style="outline: none; border: none;">
                                                <img src="{% static 'images/Switch to Speech Recognition Icon.png' %}" loading="lazy" alt="AI Process Latest File Icon" class="img-fluid">
                                                <div class="img-text" style="width: 130px;">Switch to AI Speech Recognition</div>
                                            </button>   
                                            
                                            <!-- Animation and conversation history -->
                                            <div id="spinner" class="spinner" style="display: none;">
                                                <div class="spinner-content justify-content-center">
                                                    <div class="processing-text" style="font-size: 24px; font-weight: bold;">Processing</div>
                                                    <div class="bounce-container">
                                                        <div class="bounce1"></div>
                                                        <div class="bounce2"></div>
                                                        <div class="bounce3"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Form for message input and submit button -->
                        <form class="help-form d-flex align-items-center mt-3 mb-3" action="/submit-form" method="post">
                            <textarea name="message" rows="4" cols="50" placeholder="Ask Your Question Here ..." class="form-control" style="background-color: #E7EBEF;"></textarea>
                            <button type="submit" class="btn-submit">
                                <img src="{% static 'images/Submit Icon.png' %}" alt="Submit" width="30" height="30">
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'ui/bootstrap.min.js' %}"></script>
    <!-- OBS websocket Bundle -->
    <script src="{% static 'ui/obs-ws.min.js' %}"></script>
    <!-- JS script code -->
    <script src="{% static 'js/ai_chatpage.js' %}"></script>
</body>
</html>
