{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Processing</title>
    <!-- Include your CSS files here -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.css.map'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css.map'%}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/ai_process.css'%}">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="home-screen text-center p-3">
                    <!-- Header -->
                    <div class="header d-flex justify-content-between align-items-center mb-2">
                        <div class="logo" id="logo">
                            <img src="{% static 'images/Logo.png' %}" loading="lazy" alt="Logo" class="img-fluid">
                        </div>
                        <div class="home-page-icon" id="home-page-icon">
                            <a href="{% url 'eonpod' %}">
                                <img src="{% static 'images/Home Page Icon.png' %}" loading="lazy" alt="Gear Icon" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    
                    <!-- Card view AI Process -->
                    <div class="card scrollable-card mb-2">
                        <div class="ai-process-icon mt-2" id="ai-process-icon">
                            <img src="{% static 'images/AI Process Page Logo.png' %}" width="70%" loading="lazy" alt="AI Process Icon" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-4 d-flex justify-content-center" style="outline: none; border: none;">
                                    <div style="display: flex; flex-direction: column; align-items: center;">                                    
                                        <!-- Button for latest file Processing -->
                                        <button class="btn btn-sm" id="ai-process-latest-file" onclick="aiProcessLatestRecordedFile()" style="outline: none; border: none;">
                                            <img src="{% static 'images/AI Process Latest File.png' %}" loading="lazy" alt="AI Process Latest File Icon" class="img-fluid">
                                            <div class="img-text" style="width: 130px;">AI Process Latest Recorded File</div>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>                     
                        </div>
                    </div>
                                    
                    <!-- Buttons below Card View -->
                    <div class="row d-flex justify-content-center align-items-center mt-2">
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-sm btn-custom" onclick="chooseFileToAIProcess()">
                                <img src="{% static 'images/Choose File AI Process Icon.png' %}" loading="lazy" alt="Choose File AI Process Icon" class="img-fluid">
                                <div class="img-text">Choose a file to AI Process</div>
                            </button>
                        </div>
                        <div class="col-4 d-flex justify-content-center align-items-center">
                            <button class="btn btn-sm btn-custom" onclick="aiChatPage()">
                                <img src="{% static 'images/AI Observation Icon.png' %}" loading="lazy" alt="AI Observation Icon" class="img-fluid">
                                <div class="img-text">Go to AI Class Assistant</div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap Bundle -->
    <script src="{% static 'ui/bootstrap.min.js' %}"></script>
    <!-- OBS websocket Bundle -->
    <script src="{% static 'ui/obs-ws.min.js' %}"></script>
    <!-- JS script code -->
    <script src="{% static 'js/ai_process.js' %}"></script>
        
</body>
</html>
