{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Processing</title>
    <!-- Include your CSS files here -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.css.map'%}">
    <link rel="stylesheet" href="{% static 'ui/bootstrap.min.css.map'%}">
</head>
<body>
    <div class="container">
        <h1>AI Processing Page</h1>
        <!-- Add your content here -->
    </div>
    
    <!-- Bootstrap Bundle -->
    <script src="{% static 'ui/bootstrap.min.js' %}"></script>
    <!-- OBS websocket Bundle -->
    <script src="{% static 'ui/obs-ws.min.js' %}"></script>
</body>
</html>
