{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/whisper_response.css' %}">

</head>
<body>
    <div class="form-div">
        {% include "logo.html" %}
    </div>
    <div class="card" id="card">
    <div class="card-header" style="display: flex; align-items: center; background-color: #ffffff;">
        <!-- Logo -->
        <img class="card-header-img" src="{% static 'images/eonbotlogo1.png' %}" alt="eonbotlogo">
        <div class="card-header-msg">
            <p class="card-header-p1">EON Speech Recognition AI </p>
            <p class="card-header-p2">Hi there! How can I help you?</p>
        </div>
        <a href="{% url 'chat_page' %}" class="btn btn-primary">Switch to AI Chatbot</a>
    </div>
    
    <div class="card-body" id="cardBody">
        <div class="scrollable-content">
            <div id="conversationHistory" class="conversation-history"></div>
            <div id="wave" style="display: none;">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            </div>
        </div>
        <div class="form-div">
            {% include "whisper_form.html" %}
        </div>
    </div>

    <script src="{% static 'js/whisper_response.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>